.navbar-main {
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 999;
}
.nav-container {
  display: flex;
  width: 80%;
  padding: 1.5rem 0rem;
  justify-content: space-between;
  gap: 6rem;
}
.nav-content {
  display: flex;
  gap: 2rem;
}
.nav-content p {
  font-weight: 600;
  color: #333333;
  font-size: 1rem;
  padding-top: 0.75rem;
  cursor: pointer;
}
.toogle-navbar {
  display: none;
}
.toogle-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-self: center;
  width: 80%;
}
.toogle-container p {
  font-weight: 600;
  color: #333333;
  cursor: pointer;
}
.toogle-container {
  display: none;
}
.hover-div {
  display: none;
  padding: 1.5rem;
  color: #333333;
  background-color: #f8f9fa;
  font-size: 1rem;
  margin-top: 10px;
  border-top: 0.25rem solid rgb(0, 150, 213);
}
.para-nav:hover + .hover-div {
  display: block;
}
/* .company-dropdown-menu{
  display: none;
  font-size: 14px;
  background-color: #f6f7fb;
  padding: 2rem 4rem;
  position: absolute;
  margin-top: 66px;
  margin-left: 36rem;
} */
@media only screen and (max-width: 1210px) {
  .nav-container {
    display: flex;
    width: 90%;
    padding: 1.5rem 0rem;
    gap: 2rem;
  }
  .nav-content p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 990px) {
  .nav-container {
    width: 80%;
  }
  .nav-content {
    display: none;
  }
  .nav-content p {
    display: none;
  }
  .toogle-navbar {
    display: block;
  }
  .nav-container {
    justify-content: space-between;
    gap: 0;
  }
  .toogle-container {
    display: flex;
  }
}
@media only screen and (max-width: 480px) {
  .toogle-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
    width: 80%;
  }
}
